:root {
  --background-color: #2e1d82;
  --text-color: rgb(232, 232, 100);
  --btn-color: #e76734;
  --hover-color: #f14b09;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  margin: 0px;
  background-color: var(--background-color);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

#title {
  font-family: "Barriecito", sans-serif;
  font-size: 50px;
  margin-bottom: 0px;
}

#subtitle {
  font-style: italic;
  font-size: 20px;
}

#joke-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 200px;
  overflow: scroll;
}

#joke-text {
  font-family: "Barriecito", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

#new-joke-btn {
  background-color: var(--btn-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 24px; /* Padding to make the button larger */
  border: none; /* Remove default border */
  border-radius: 30px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  text-align: center;
  margin: 0px;
}

#new-joke-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
}

/* when the button is clicked */
#new-joke-btn:active {
  transform: translateY(2px);
}

.rate-btn {
  background-color: var(--btn-color);
  border: none;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.rate-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.25);
}

#stat-section {
  display: flex;
  flex-direction: row;
}

.section-sub {
  margin-bottom: 5px;
}

#saved-jokes-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 5px;
  color: black;
  height: 300px;
  overflow: scroll;
  margin-right: 20px;
}

#joke-list {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

#joke-list li {
  padding: 10px 0;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #ff4081, #ffb74d, #4caf50) 1; /* Rainbow gradient */
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333; /* Normal color */
}

#joke-list li:hover {
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

/* Hover color based on the rating color in the donut chart */
#joke-list li[data-colorcode="1"]:hover {
  color: rgba(255, 99, 132, 1);
}

#joke-list li[data-colorcode="2"]:hover {
  color: rgba(54, 162, 235, 1);
}

#joke-list li[data-colorcode="3"]:hover {
  color: rgb(196, 143, 9);
}

#joke-list li[data-colorcode="4"]:hover {
  color: rgba(75, 192, 192, 1);
}

#joke-list li[data-colorcode="5"]:hover {
  color: rgba(153, 102, 255, 1);
}

#joke-list li:last-child {
  border-bottom: none;
}

#chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  height: 300px;
}
